* {
    margin: 0;
    padding: 0;
}

.main {
    min-height: 100vh;
    background: url('./img/main-background.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FF6332;
    text-align: center;
    padding-top: 300px;
}

.main_subtitle {
    font-weight: 100;
    font-size: 48px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    display: block;
}
.pictures_row {
    text-align: center;
}
.pictures_row img {
    margin-right: 40px;
}